# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/
*.py[cod]
*$py.class
*pyc
utils/__pycache__/
models/__pycache__/
data/__pycache__/

# weights of saved
weights/

# datasets
datasets/

# debug.py
debug.py



